@media screen and (max-width: 770px) {
  .nav .burger {
    display: inline-block;
    border: 2px solid #7c7c7c;
    padding: 0.5rem;
    background-color: #e65f21;
    z-index: 3;
    cursor: pointer;
  }
  .nav .burger .line1 {
    background-color: #353132;
    height: 3px;
    width: 20px;
    margin-bottom: 2px;
  }
  .nav .burger .line2 {
    background-color: #353132;
    height: 3px;
    width: 20px;
    margin-bottom: 2px;
  }
  .nav .burger .line3 {
    background-color: #353132;
    height: 3px;
    width: 20px;
    margin-bottom: 2px;
  }
  .nav .burger:hover {
    background-color: #f0a17d;
  }
  .nav .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50%;
    height: 50vh;
    z-index: 3;
    background-color: #353132;
    border: 2px solid #e65f21;
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 2rem;
    transform: translateX(100%);
  }
  .nav .nav-list li {
    border-bottom: 2px solid rgba(124, 124, 124, 0.1);
    width: 100%;
    padding: 2rem 0;
  }
  .nav .nav-list li a {
    font-weight: bold;
    letter-spacing: 1px;
  }
  .nav .nav-list li a:hover {
    color: #eb804f;
  }
  .nav .nav-list li:last-child {
    border-bottom: none;
    padding-bottom: none;
  }
  .nav .nav-list.menu-active {
    transform: translateX(0%);
    transition: all 0.4s ease-out;
  }
  header .main-title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 770px) {
  .nav .burger {
    visibility: hidden;
  }
  .nav .nav-list {
    position: static;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: translate(0%);
  }
  header .showcase .main-title {
    font-size: 4rem;
  }
  header .showcase h3 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 770px) {
  .nav .burger {
    display: inline-block;
    border: 2px solid #7c7c7c;
    padding: 0.5rem;
    background-color: #e65f21;
    z-index: 3;
    cursor: pointer;
  }
  .nav .burger .line1 {
    background-color: #353132;
    height: 3px;
    width: 20px;
    margin-bottom: 2px;
  }
  .nav .burger .line2 {
    background-color: #353132;
    height: 3px;
    width: 20px;
    margin-bottom: 2px;
  }
  .nav .burger .line3 {
    background-color: #353132;
    height: 3px;
    width: 20px;
    margin-bottom: 2px;
  }
  .nav .burger:hover {
    background-color: #f0a17d;
  }
  .nav .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50%;
    height: 50vh;
    z-index: 3;
    background-color: #353132;
    border: 2px solid #e65f21;
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 2rem;
    transform: translateX(100%);
  }
  .nav .nav-list li {
    border-bottom: 2px solid rgba(124, 124, 124, 0.1);
    width: 100%;
    padding: 2rem 0;
  }
  .nav .nav-list li a {
    font-weight: bold;
    letter-spacing: 1px;
  }
  .nav .nav-list li a:hover {
    color: #eb804f;
  }
  .nav .nav-list li:last-child {
    border-bottom: none;
    padding-bottom: none;
  }
  .nav .nav-list.menu-active {
    transform: translateX(0%);
    transition: all 0.4s ease-out;
  }
  header .main-title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 770px) {
  .nav .burger {
    visibility: hidden;
  }
  .nav .nav-list {
    position: static;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: translate(0%);
  }
  header .showcase .main-title {
    font-size: 4rem;
  }
  header .showcase h3 {
    font-size: 2.5rem;
  }
}

.title-button {
  border: 2px solid #e65f21;
  width: 8rem;
  height: 2.5rem;
  background-color: transparent;
  border-radius: 1.5rem;
  color: white;
  font-size: 1rem;
  margin-top: 1.5rem;
  padding: 0 1.5rem;
  cursor: pointer;
}

.title-button:hover {
  background-color: #bf4b15;
  border: none;
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.learn-more {
  width: 8rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  border: 2px solid #e65f21;
  background-color: transparent;
  color: white;
  margin-top: 1.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.learn-more:hover {
  background-color: #bf4b15;
  border: none;
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.join {
  width: 8rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  border: 2px solid #e65f21;
  background-color: transparent;
  color: white;
  margin-top: 1.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.join:hover {
  background-color: #bf4b15;
  border: none;
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.gallery-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-buttons .filter {
  margin: 1rem;
  width: 9rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: #bf4b15;
  border: none;
  color: white;
  margin-top: 1.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.gallery-buttons .filter:hover {
  border: 2px solid #e65f21;
  background-color: transparent;
  transform: scale(1.05);
  transition: all 0.5s ease;
}

@media screen and (max-width: 770px) {
  .gallery-buttons .filter {
    display: none;
  }
}

#signup-button {
  margin: 1rem auto;
  width: 10rem;
  height: 3rem;
  padding: 0.5rem;
  color: white;
  background-color: transparent;
  border-radius: 1rem;
  border: 1px solid #e65f21;
  cursor: pointer;
}

#signup-button:hover {
  background-color: #e65f21;
  border: none;
  transform: scale(1.05);
  transition: all 0.5s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  line-height: 1.15;
  overflow-x: hidden;
  background-color: #353132;
  position: relative;
}

body .back-top {
  margin: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0.5rem;
  width: 0.5rem;
  border: 2px solid #e65f21;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

body .back-top i.fas {
  color: #e65f21;
  font-size: 1.5rem;
}

body .back-top:hover {
  color: #913910;
  transition: all 0.5s ease;
}

body .back-top:hover i.fas {
  color: #bf4b15;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}

.container2 {
  width: 100%;
  max-width: 94rem;
  margin: 0 auto;
}

.nav {
  height: 8vh;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3C3C3C;
  border-bottom: 2px solid #e65f21;
}

.nav .logo {
  color: #e65f21;
}

.nav .burger {
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #e65f21;
  z-index: 3;
  cursor: pointer;
}

.nav .burger .line1 {
  background-color: #353132;
  height: 3px;
  width: 20px;
  margin-bottom: 2px;
}

.nav .burger .line2 {
  background-color: #353132;
  height: 3px;
  width: 20px;
  margin-bottom: 2px;
}

.nav .burger .line3 {
  background-color: #353132;
  height: 3px;
  width: 20px;
  margin-bottom: 2px;
}

.nav .burger.toggle .line1 {
  transform: rotate(45deg) translate(3px, 4px);
}

.nav .burger.toggle .line2 {
  opacity: 0;
}

.nav .burger.toggle .line3 {
  transform: rotate(-45deg) translate(4px, -4px);
}

.nav .burger:hover {
  background-color: #f0a17d;
}

.nav .nav-list {
  display: flex;
  justify-content: space-around;
}

.nav .nav-list li {
  margin: 0 1rem;
}

.nav .nav-list li a {
  color: #e65f21;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.nav .nav-list li a:hover {
  color: black;
}

header {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/hero1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  text-align: center;
  border-bottom: 2px solid #e65f21;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

header .showcase {
  z-index: 2;
}

header .showcase .title-area {
  padding: 1rem;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

header .showcase .title-area .main-title {
  margin-bottom: 2rem;
  transform: translateX(-100vw);
}

header .showcase .title-area h3 {
  transform: translateX(100vw);
}

header .showcase .title-area .highlight {
  color: white;
}

header .showcase .button-area {
  opacity: 0;
}

.gym-shop {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: white;
  padding: 2rem;
}

.gym-shop .shop-description {
  width: 100%;
}

.gym-shop .shop-description .section-title {
  margin: 1rem 0;
  color: #e65f21;
}

.gym-shop .shop-description .inventory-lists {
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem;
}

.gym-shop .shop-description .inventory-lists .list1 {
  margin: 1rem 0;
}

.gym-shop .shop-description .inventory-lists .list1 h4 {
  color: #e65f21;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.gym-shop .shop-description .inventory-lists .list1 ul {
  list-style-type: none;
}

.gym-shop .shop-description .inventory-lists .list1 ul li::before {
  content: "\2022";
  color: #e65f21;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.gym-shop .shop-description .inventory-lists .list2 {
  margin: 1rem 0;
}

.gym-shop .shop-description .inventory-lists .list2 h4 {
  color: #e65f21;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.gym-shop .shop-description .inventory-lists .list2 ul {
  list-style-type: none;
}

.gym-shop .shop-description .inventory-lists .list2 ul li::before {
  margin-bottom: 0.5rem;
  content: "\2022";
  color: #e65f21;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.join-us {
  height: 30vh;
  width: 100%;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.join-us h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  z-index: 2;
}

.join-us h3 .highlight-1 {
  color: white;
}

@media screen and (max-width: 770px) {
  .join-us h3 {
    font-size: 1rem;
  }
}

.contact-us {
  background-color: #3C3C3C;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  color: white;
  position: relative;
}

.contact-us .contact-info {
  margin-right: 2rem;
}

.contact-us .contact-info h3 {
  color: #e65f21;
}

.contact-us .contact-info .method {
  margin: 1rem 0;
}

.contact-us .contact-info .method i.fas {
  color: #e65f21;
}

.contact-us .connect-us h3 {
  color: #e65f21;
}

.contact-us .connect-us i.fab {
  margin: 1rem 1rem 0 0;
  cursor: pointer;
}

.contact-us .connect-us i.fab:hover {
  color: #e65f21;
  transition: all 0.4s ease;
}

@media screen and (max-width: 480px) {
  .contact-us .connect-us {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .contact-us {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

footer {
  text-align: center;
  padding: 2rem;
  color: white;
  font-weight: bold;
  overflow: hidden;
}

.title-button {
  border: 2px solid #e65f21;
  width: 8rem;
  height: 2.5rem;
  background-color: transparent;
  border-radius: 1.5rem;
  color: white;
  font-size: 1rem;
  margin-top: 1.5rem;
  padding: 0 1.5rem;
  cursor: pointer;
}

.title-button:hover {
  background-color: #bf4b15;
  border: none;
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.learn-more {
  width: 8rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  border: 2px solid #e65f21;
  background-color: transparent;
  color: white;
  margin-top: 1.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.learn-more:hover {
  background-color: #bf4b15;
  border: none;
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.join {
  width: 8rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  border: 2px solid #e65f21;
  background-color: transparent;
  color: white;
  margin-top: 1.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.join:hover {
  background-color: #bf4b15;
  border: none;
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.gallery-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery-buttons .filter {
  margin: 1rem;
  width: 9rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: #bf4b15;
  border: none;
  color: white;
  margin-top: 1.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.gallery-buttons .filter:hover {
  border: 2px solid #e65f21;
  background-color: transparent;
  transform: scale(1.05);
  transition: all 0.5s ease;
}

@media screen and (max-width: 770px) {
  .gallery-buttons .filter {
    display: none;
  }
}

#signup-button {
  margin: 1rem auto;
  width: 10rem;
  height: 3rem;
  padding: 0.5rem;
  color: white;
  background-color: transparent;
  border-radius: 1rem;
  border: 1px solid #e65f21;
  cursor: pointer;
}

#signup-button:hover {
  background-color: #e65f21;
  border: none;
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.gym-features {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gym-features .img-area {
  padding: 2rem;
  width: 100%;
  background-color: #e65f21;
  margin-bottom: 1.5rem;
}

.gym-features .img-area img {
  max-width: 100%;
}

.gym-features .features-area {
  width: 100%;
  color: white;
  letter-spacing: 1px;
  padding: 2rem;
}

.gym-features .features-area .feature {
  margin-bottom: 1rem;
}

.gym-features .features-area .feature .feature-title {
  color: #e65f21;
  margin-bottom: 0.5rem;
}

.prices-area {
  background-color: #3C3C3C;
  padding: 1rem;
  text-align: center;
}

.prices-area .prices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

@media screen and (max-width: 770px) {
  .prices-area .prices {
    padding: 0rem;
  }
  .prices-area .prices .membership {
    min-width: 100%;
  }
}

.prices-area .prices .membership {
  width: 31rem;
  max-width: 80%;
  color: white;
  text-align: center;
  background-color: #353132;
  margin: 1rem;
  padding: 2rem;
  border: 2px solid rgba(230, 95, 33, 0.4);
}

.prices-area .prices .membership .membership-type {
  margin: 2rem 0;
  color: #e65f21;
  font-size: 2rem;
}

.prices-area .prices .membership .price {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.prices-area .prices .membership .price .unit {
  color: #e65f21;
}

.prices-area .prices .membership ul li {
  border-top: 2px solid rgba(124, 124, 124, 0.1);
  width: 100%;
  padding: 2rem 0;
}
